<head>
    <title>Login Admin</title>
</head>
{% extends 'base.html' %}

{% block additional_css %}
{% endblock %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" name="name" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</span>
    </form>
</div>
{% endblock %}

{% block additional_js %}
{% endblock %}
