<nav class="navbar mx-2 rounded-2" style="background-color: var(--secondary);">
    <div class="d-flex align-items-center justify-content-around w-100">
        <a href="{% url 'dashboard' %}" class="nav-link text-light mt-2 text-center">
            <img width="25" height="25" src="https://img.icons8.com/ios/30/home--v1.png" alt="home"/>
        </a>
        <a href="{% url 'teacher' %}"  id="teacher-link" class="nav-link text-light mt-2 text-center">
            <img width="30" height="30" src="https://img.icons8.com/?size=100&id=38HJBFwphJ3I&format=png&color=000000" alt="teacher"/>
        </a>
        <a href="{% url 'student' %}"  id="student-link" class="nav-link text-light mt-2 text-center">
            <img width="30" height="30" src="https://img.icons8.com/?size=100&id=38833&format=png&color=000000" alt="student"/>
        </a>
    </div>
</nav>
