<div>
    <nav class="navbar rounded-1 m-2" style="background-color: var(--secondary);">
        <div class="container-fluid pe-0">
          <a class="navbar-brand d-flex" href="/">JIMS <span class="d-none d-md-flex">&nbsp;attendance</span></a>
          <ul class="nav justify-content-end">
            <a class="navbar-brand p-1" href="/" style="border: 1px solid black; border-radius: 50px; background-color: var(--primary);">
                <img width="25" height="25" src="https://img.icons8.com/ios/25/FFFFFF/admin-settings-male.png" alt="admin"/>
              </a>
          </ul>
        </div>
      </nav>
</div>
